/* This is my Style Sheet for my procject*/
* { margin: 0;
    padding: 0;}
    body { background-color: #1b4353;}
    .grid-container {display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
        gap: 20px 20px;}
    #hamnav { grid-row: 1 / 2; grid-column: 1 / span 7;}
    .headercontainer {display:grid;
                      grid-template-columns: auto;
                      grid-template-rows: auto;}
    .header1{ grid-row: 1 / 3; grid-column: 1 / 7; }
    .indexcontainer {display:grid;
                     grid-template-columns: auto;
                     grid-template-rows: auto;}
   .intro { grid-row: 1 / 3; grid-column: 1 / 4;
            align-self: center;}
    .MAAF { grid-row: 1 / 3; grid-column:  4 / 7;}
    .FHAZ { grid-row: 3 / 5; grid-column: 1 / 4;
            margin-left: 40px;}
    .purpose {grid-row: 3 / 5; grid-column: 4 / 7;
               align-self: center;
              margin-right: 10px;}
    .aboutsection { display: grid;
                grid-template-columns: auto;
                grid-template-rows: auto;
                gap: 20px 20px;}           
    .aboutparagraph { padding: 20px; grid-column: 1/ 4;
                 grid-row: 1 / 3;
                 text-align: justify;
                 text-justify: inter-word;}
    .headshot { padding-left: 10px; grid-row: 1 / 3; grid-column: 4/ 7;    
                align-self: center;
                margin-right: 20px;
                max-width: 480px;}
    .resume { padding: 10px; grid-column: 1/ 4;
                grid-row: 4 / 6;
              margin-left: 30px;}
    .Section1 { display: grid;
                grid-template-columns: auto;
                grid-template-rows: auto;
                gap: 20px 20px;}
    .header2 { grid-row: 1 / 2; grid-column: 1 / 7;
               margin-left:10px;}  
    .CldTyp { grid-row: 2 / 4; grid-Column: 3 / 7; 
        margin-right: 10px;}
    .CldPara { grid-row: 2 / 4; grid-column: 1 / 3; 
                align-self: center; margin-left: 10px;} 
    .cloudexplained { grid-row: 5 / 6; grid-Column: 1 / 2;
                     margin-bottom: 10px; margin-left: 5px;}
    .CldPara2 { grid-row: 5 / 6; grid-column: 2 / 7; 
                align-self: center;}
    .tlink { grid-row: 6/7; grid-column: 1 / 3;
              margin-left:20px; margin-bottom: 20px;}            
    .Section2 { display: grid;
                grid-template-columns: auto;
                grid-template-rows: auto;
                gap: 20px 20px;}
    .header2 { grid-row: 1 / 2; grid-column: 1 / 7;
               margin-left: 10px;}  
    .Precip { grid-row: 2 / 4; grid-Column: 4 / 7;
                justify-self: center;}
    .PrecipPara { grid-row: 2 / 4; grid-column: 1 / 4; 
                    align-self: center; margin-left: 10px;} 
    .Rainexplained { grid-row: 5 / 6; grid-Column: 1 / 4;
                         margin-left: 10px;}
    .PrecipPara2 { grid-row: 5 / 6; grid-column: 3 / 7;
                    margin-right: 20px; align-self: center;} 
    .Snowexplained { grid-row: 7 / 8; grid-column: 1 / 3;
                    margin-left: 10px;
                    margin-bottom: 10px;
                    padding-right:20px;}
    .tlink2 { grid-row:8 / 9; grid-column: 1 / 2;
              margin-left: 20px; margin-bottom: 20px;}
    .Section3 { display: grid;
                        grid-template-columns: auto;
                        grid-template-rows: auto;
                        gap: 20px 20px;}
    .header2 { grid-row: 1 / 2; grid-column: 1 / 7;
                margin-left: 10px;}  
    .InstTyp { grid-row: 2 / 4; grid-Column: 4 / 7;
               margin-right:10px; }
    .InstPara { grid-row: 2 / 4; grid-column: 1 / 4; 
                            align-self: center; margin-left: 10px;} 
    .InstTyp2 { grid-row: 5 / 6; grid-Column: 1 / 3;
                                 margin-left: 10px;
                                 margin-bottom: 10px;}
    .InstPara2 { grid-row: 5 / 6; grid-column: 3 / 7;
                            margin-right: 10px; align-self: center;} 
    .Kestrel { grid-row: 7 / 8; grid-column: 1 / 4;
                            margin-bottom: 10px;} 
    .tlink3 { grid-row: 8/9; grid-column: 1/3;
              margin-left: 20px; margin-bottom: 20px;}          
    .footer { padding: 10px; grid-column: 1/span 7;
                grid-row: 9/ 10;}
    .main {width:100%;
          background: #666666;
         border:none;
        padding: 10px 10px;
        margin-top: 0px;}
    .header1 {color: #4fbcc2;
                    font-size: 30px;
                    text-align: left;
                    font-family: "scriptorama-markdown-jf", sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    padding: 10px;}
    .header2 { color: #4fbcc2;
               text-align: left;
               font-family: "scriptorama-markdown-jf", sans-serif;
               font-weight: 400;
               font-style: normal;
               margin-top: 20px;}                
    .header3 {color: #cccccc;
                   text-align: center;
                   font-family: "scriptorama-markdown-jf", sans-serif;
                   font-weight: 400;
                   font-style: normal;} 
    .intro {color: #cccccc;
                text-align: center;
                font-family: "merriweather", serif;
                font-weight: 400;
                font-style: normal;}
    .resumevideo {width:100%;
                  max-width: 600px;
                  height:auto; }
    .resp { width: 100%;
                  max-width: 600px;
                  height: auto;
                  padding: 10px;
                  align-self: center;}
    .resp2 { width:100%;
            max-width: 600px;
            height: auto;
            padding: 10px;
        align-self: center;}
    .resp3 { width: 100%;
            max-width: 480px;
             height: auto;}
    .resp4 { width:100%;
             max-width: 600px;
             height: auto;
             justify-self: center;}
             .purpose {color: #cccccc;
        font-family: "merriweather", serif;
        font-weight: 400;
        font-style: normal;}
    .para {color: #cccccc;
                   font-family: "merriweather", serif;
                   font-weight: 400;
                   font-style: normal;
                    text-align: justify;
                    text-justify: inter-word;}              
    .quote {color: #a1973a;
            font-family: "merriweather", serif;
            font-weight: 400;
            font-style: italic;}
    .link {color: #a1973a;     
        font-family: "merriweather", serif;
        font-weight: 400;
        font-style: normal;}
    .link:hover {color: #4fbcc2;}
    .resources {color: #cccccc;
                font-family: "merriweather", serif;
                font-weight: 400;
                font-style: normal;;}
    .rlink {color: #a1973a;}
    .hr {border: 1px solid #a1973a;}
    #CldLink { color: #a1973a;
             font-family: "merriweather", serif;
             font-weight: 400;
             font-style: normal;}
     #PrecipLink { color: #a1973a;
                font-family: "merriweather", serif;
                font-weight: 400;
                font-style: normal;}
    #InstLink { color: #a1973a;
                font-family: "merriweather", serif;
                font-weight: 400;
                font-style: normal;}
    figcaption {color:#CCCCCC;
                font-family: "merriweather", serif;
                font-weight: 400;
                font-style: italic;
                text-align: center;
                text-justify: inter-word;}
    .figlink {color:#a1973a;
              font-family: "merriweather", serif;
              font-weight: 400;
              font-style:italic;
              font-size: 14px;}
    .figlink:hover {color:#4fbcc2;}
    .footer {color: #a1973a;
        font-family: "merriweather", serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        border-top: 2px solid #a1973a;}
    .flink {color: #a1973a;
            font-family: "merriweather", serif;
            font-weight: 400;
            font-style: normal;} 
    .flink:hover { color:#4fbcc2;}   
    .rlink:hover { color: #4fbcc2;}
    .phone {transition: 0.3s linear;}
    .phone:hover {transform: scale(1.50);}
    .mail {transition: 0.3s linear;}
    .mail:hover {transform: scale(1.50);}
    .contactcontainer {width: 80%;
                       margin: 50px auto;}
    .contact-box {background: #fff;
                  display: flex;}
    .contact-left {flex-basis: 60%;
                    padding: 40px 60px;
                    color:#a1973a;
                    font-family: "merriweather", serif;
                    font-weight: 400;
                    font-style: normal;}
    .contact-right {flex-basis: 40%;
                    padding: 40px;
                   background:#173753;
                   color:#a1973a;
                   font-family: "merriweather", serif;
                   font-weight: 400;
                   font-style: normal;}
    .input-row { display: flex;
                 flex-wrap: wrap;
                 gap: 20px;
                 justify-content: space-between;
                 margin-bottom: 20px;}
    .input-row .input-group { flex-basis: 45%;}
      input { width: 100%;
              border: none;
              border-bottom: 1px solid #666666;
              outline: none;
              padding: 5px;}
     textarea { width: 100%;
                border: 1px solid #666666;
                outline: none;
                padding:10px;
                box-sizing: border-box;}  
     label   {margin-bottom: 6px; display: block;}
     button { background:#173753;
              width: 100px;
              border: none;
              outline: none;
              color: #4fbcc2;
              height: 35px;
              margin-top: 20px;}
     tr td:first-child {padding-right: 20px;}
    .insttable { width: 500px;}
    .instable >#itable, .th1 { background: #a1973a; color:#cccccc;
                               border: 1px solid #CCCCCC;
                               text-align: left;
                               padding-left: 10px;}
    .insttable > #itable, .td1 { border:1px solid #cccccc; 
                                border-collapse: collapse;
                                color: #cccccc;
                                text-align: left;
                                padding-left: 10px;}
    .tr1:nth-child(even) {background: #666666;}
    @media screen and (max-width: 768px) { h1 { font-size: 21px;}
        h2 {font-size: 18px;}
        h3 {font-size: 16px;}
        p {font-size: 12px;
            word-wrap: break-word;}
        .contactcontainer {max-width: 80%;} }
    
    
    
/*This is my style sheet for my project*/